<footer class="text-center text-lg-start text-muted" style="background-color: rgb(215, 212, 212);">
    <!-- Section: Social media -->
    <section>
        <div class="container">
            <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>
                <!-- Left -->
                <!-- Right -->
                <div>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
                <!-- Right -->
        </div>
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        SOUNDWAVE MUSIC ENTERTAINMENT
                    </h6>
                    <p>
                        Soundwave website is the wonderful place which helps you enjoy your love music.
                        Here you can explore the new release music and chill with music after stressfull
                        time. You also can create your own Playlist with your loved songs.
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Music Come From
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Vietnam</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">US/Uk</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Korea</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Japan</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">China</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Others</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Support
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Terms and Condition</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Security Policy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Request Support</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i>77 Vo Van Kiet, An Lac, Binh Tan</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        soundwave@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i>+ 84 909.557.862</p>
                    <p><i class="fas fa-print me-3 text-secondary"></i>+ 84 958.163.347</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="#">Soundwave</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->